# Opam swtich
_opam/

# Build output directory
_build/

# Dune lock files
dune.lock/

# Development tools lock files
dev-tools.locks/

# VSCode editor configuration directory
.vscode/

# Python virtual environment directory
.venv/

# Environment variable files
.env

# Development packages
dev.opam

# Agent files
CLAUDE.local.md
dev/nx-oxcaml/lib/.DS_Store
dev/nx-oxcaml/lib/binary_ops/.DS_Store
