# soupault.toml

[settings]
  site_dir = "site"
  build_dir = "build"
  default_template_file = "templates/main.html"
  default_content_selector = "main"
  complete_page_selector = "html"
  generator_mode = true
  clean_urls = true
  page_file_extensions = ["htm", "html"]
  markdown_extensions = ["md"]
  keep_doctype = true
  pretty_print_html = true
  plugin_discovery = true # Or load explicitly
  plugin_dirs = ["plugins"] # Default

[templates.docs_config]
  file = "templates/layout_docs.html"
  section = "docs/"
  include_subsections = true
  content_selector = "main"

[templates.docs_nx_config]
  file = "templates/layout_docs_nx.html"
  section = "docs/nx/"
  include_subsections = true
  content_selector = "main"

[templates.docs_hugin_config]
  file = "templates/layout_docs_hugin.html"
  section = "docs/hugin/"
  include_subsections = true
  content_selector = "main"

[templates.docs_rune_config]
  file = "templates/layout_docs_rune.html"
  section = "docs/rune/"
  include_subsections = true
  content_selector = "main"

[templates.docs_quill_config]
  file = "templates/layout_docs_quill.html"
  section = "docs/quill/"
  include_subsections = true
  content_selector = "main"

[templates.docs_kaun_config]
  file = "templates/layout_docs_kaun.html"
  section = "docs/kaun/"
  include_subsections = true
  content_selector = "main"

[templates.docs_fehu_config]
  file = "templates/layout_docs_fehu.html"
  section = "docs/fehu/"
  include_subsections = true
  content_selector = "main"

[templates.docs_sowilo_config]
  file = "templates/layout_docs_sowilo.html"
  section = "docs/sowilo/"
  include_subsections = true
  content_selector = "main"

[templates.docs_saga_config]
  file = "templates/layout_docs_saga.html"
  section = "docs/saga/"
  include_subsections = true
  content_selector = "main"

[templates.docs_talon_config]
  file = "templates/layout_docs_talon.html"
  section = "docs/talon/"
  include_subsections = true
  content_selector = "main"

[widgets.page_title]
  widget = "title"
  selector = "h1"
  default = "raven"
  append = " - raven"
  force = true
  keep = true # Add if you want to force overwrite existing <title> tags

[widgets.breadcrumbs]
  widget = "breadcrumbs"
  selector = "#breadcrumbs"
  breadcrumb_template = """<a href="{{url}}">{{name | title}}</a>"""
  between = """<span class="breadcrumb-separator">/</span>"""
  min_depth = 1

[widgets.append_current_page_to_breadcrumbs]
  widget = "append_page_title_to_breadcrumbs"
  selector = "#breadcrumbs"
  after = "breadcrumbs"

# [widgets.nx_api_nav]
#   widget = "nx_api_nav"
#   api_nav_file = "site/docs/nx/api_nav.html"
#   page = "docs/nx"
#   include_subsections = true
