<div class="flex items-center space-x-6">
  <div class="border-l border-gray-300 h-6"></div>
  <a href="../ndarray/" class="text-gray-600 hover:text-gray-900">ndarray</a>
  <a href="../hugin/" class="text-gray-600 hover:text-gray-900">hugin</a>
  <a href="../rune/" class="text-gray-600 hover:text-gray-900">rune</a>
  <a href="../kaun/" class="text-gray-600 hover:text-gray-900">kaun</a>
  <a href="../sowilo/" class="text-gray-600 hover:text-gray-900">sowilo</a>
  <a href="../quill/" class="text-gray-600 hover:text-gray-900">quill</a>
</div>