name: Build and test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout tree
        uses: actions/checkout@v4

      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5

      - name: Install system dependencies (Ubuntu)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libev-dev libcurl4-gnutls-dev libcairo2-dev pkg-config libsdl2-dev libblas-dev liblapack-dev

      - name: Install system dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install libev curl cairo pkg-config sdl2

      - name: Install system dependencies (Windows)
        if: runner.os == 'Windows'
        shell: cmd
        run: D:\cygwin\setup-x86_64.exe --quiet-mode --no-desktop --no-shortcuts --no-startmenu --root D:\cygwin --site https://mirrors.kernel.org/sourceware/cygwin/ --packages mingw64-x86_64-openblas,mingw64-x86_64-lapack,mingw64-x86_64-cairo,mingw64-x86_64-SDL2,pkg-config

      - name: Install OCaml dependencies
        run: opam install . --deps-only --with-test

      - name: Build and test nx
        run: |
          opam exec -- dune build --release packages/nx
          opam exec -- dune build --release @packages/nx/runtest

      - name: Build and test brot
        run: |
          opam exec -- dune build --release packages/brot
          opam exec -- dune build --release @packages/brot/runtest

      - name: Build and test talon
        run: |
          opam exec -- dune build --release packages/talon
          opam exec -- dune build --release @packages/talon/runtest

      - name: Build and test rune
        run: |
          opam exec -- dune build --release packages/rune
          opam exec -- dune build --release @packages/rune/runtest

      - name: Build and test kaun
        run: |
          opam exec -- dune build --release packages/kaun
          opam exec -- dune build --release @packages/kaun/runtest

      - name: Build and test fehu
        run: |
          opam exec -- dune build --release packages/fehu
          opam exec -- dune build --release @packages/fehu/runtest

      - name: Build and test sowilo
        run: |
          opam exec -- dune build --release packages/sowilo
          opam exec -- dune build --release @packages/sowilo/runtest

      - name: Build and test hugin
        run: |
          opam exec -- dune build --release packages/hugin
          opam exec -- dune build --release @packages/hugin/runtest

      - name: Build and test quill
        run: |
          opam exec -- dune build --release packages/quill
          opam exec -- dune build --release @packages/quill/runtest
